<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品首页</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.css" />
</head>
<body>
<div class="am-container-fluid">
    <h2 class="am-text-center">商品列表</h2>
    <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-thumbnails am-block am-padding-lg">
        <volist name="info" id="g">
            <li class="am-block">
                <img class="am-thumbnail" src="{$g.goods_pic}" />
                <h3 class="am-text-center">{$g.goods_name}</h3>
                <span class="am-block am-text-center am-margin-xs">特价<font color="#e000c">{$g.goods_price}</font>元<a href="{:U('Goods/details',array('id'=>$g['goods_id']))}" class="am-margin-left hc-getid">详情</a></span>
            </li>
        </volist>
    </ul>
    <ul class="am-pagination">
        <li>{$upage}</li>
    </ul>
</div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/amazeui.js"></script>
<script>
    $(".hc-getid").click(function () {
       $.ajax({
           type:"GET",
           url:"__APP__/Goods/details/?id=$(this).src",
           data:{'typeid':typeid,'souval':souval},
           dataType:"json",
           success : function () {
                alert ("keyi");
           }
       })
    });
</script>
</body>
</html>